name: Generate contribution snake

on:
  schedule:
    # Runs every 12 hours
    - cron: "0 */12 * * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        id: snake
        with:
          # Your GitHub username
          github_user_name: ${{ github.repository_owner }}
          
          # A list of output files
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark

      # Deploys the generated SVG to a branch named 'output'
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          # A token that allows the action to push to your repo
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}